* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Palette Mosaic', cursive
}

header {
    width: 100%;
    height: 70px;  
    box-shadow: 0px 2px 10px #2B2D42;
    background: #2B2D42;
    margin-top: -20px;
    padding: 0px;
}

header form button {
    background-color: #2B2D42;
    border-color: transparent;
    position: absolute;
    margin-left: 20px;
    margin-top: 5px;
}

header form button:hover {
    background-color: #8D99AE;
}

header h3 {
    color: #EDF2F4;
    position:relative;
    margin-top: 20px;
    padding-top: 20px;
    position: relative;
    margin-left: 555px;
}

header .nome-usuario p {
    margin-left: 120px;
    color: #EDF2F4;
    position: absolute;
    margin-top: -20px;
}

header .slogan p {
    position: absolute;
    color: #EDF2F4;
    margin-left: 1020px;
    text-align: right;
    margin-top: -20px;
}

header .voltar button {
    margin-left: 1200px;
    margin-top: -25px;
    border-color: transparent;
    position: absolute;
    background-color: #2B2D42;
}

main .voltar button:hover {
    background-color: #8D99AE;
}

main .cabecalho {
    margin-top: 30px;
    margin-left: 40px;
    position: relative;
    text-align-last: center;
}

main form {
    margin-top: 10px;
    margin-left: 450px;
}

main form label {
    text-decoration: wavy;
}

form textarea {
    height: 80px;
}

.cadastrar button {
    background-color: #2B2D42;
    height: 30px;
    width: 110px;
    margin-left: 120px;
}

.cadastrar button a {
    color: #EDF2F4;
}

.cadastrar button:hover {
    background-color: #D90429;
}

.gradient {
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, gray, #EDF2F4, #2B2D42);
    height: 100vh;
    background-size: 300% 300%;
    animation: colors 15s ease infinite;
}

@keyframes colors {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
       
    }
    100% {
        background-position: 0% 50%;
    }
}