* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Palette Mosaic', cursive
}

header {
    width: 100%;
    height: 70px;  
    box-shadow: 0px 2px 10px #2B2D42(0, 0, 0.25, 0.25);
    background: #2B2D42;
    position: fixed;
    margin: 0px;
    padding: 0px;
    margin-top: -80px;
}

header form button {
    background-color: #2B2D42;
    border-color: transparent;
    position: absolute;
    margin-left: 20px;
    margin-top: 5px;
}

header form button:hover {
    background-color: #8D99AE;
}

header h3 {
    color: #EDF2F4;
    position:relative;
    margin-top: 20px;
    position: relative;
    margin-left: 555px;
}

header .nome-usuario p {
    margin-left: 120px;
    color: #EDF2F4;
    position: absolute;
    margin-top: -20px;
}

header .slogan p {
    position: absolute;
    color: #EDF2F4;
    margin-left: 1020px;
    text-align: right;
    margin-top: -20px;
}


header .voltar button {
    margin-left: 1200px;
    margin-top: -30px;
    border-color: transparent;
    position: absolute;
    background-color: #2B2D42;
}

header .voltar button:hover {
    background-color: #8D99AE;
}

.cabecalho {
    margin-top: 80px;
    margin-left: 100px;
}

.avatar .berow{
    margin-left: 100px;
    margin-top: 50px;
}


.avatar .lucas{
    margin-left: 500px;
    margin-top: -110px;
}

.avatar .malu{
    margin-left: 900px;
    margin-top: -110px;
}

footer {
    background-color: #2B2D42;
    height: 80px;
    margin-top: 150px;
    position: absolute;
    width: 100vw;
}

footer h5 {
    color: #EDF2F4;
    text-align: center;
    padding-top: 30px ;
    padding-left: 30px;
}

.gradient {
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, gray, #EDF2F4, #2B2D42);
    height: 100vh;
    background-size: 200% 150%;
    animation: colors 15s ease infinite;
}

@keyframes colors {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
       
    }
    100% {
        background-position: 0% 50%;
    }

}

